<% provide(:title, 'Game') %>
<script type="text/javascript" src="/assets/phaser.min.js"></script>
<script type="text/javascript" src="/assets/game.js"></script>
<p> Press the spacebar to jump </p>
<div id="gameDiv"></div>
